/040809947805052024.pdf
/2023-08-31.csv
/address.pdf
/address.png
/advertisement_activities_20231011.csv
/approved.png
/BDE
/car
/CH341SER
/CH341SER.ZIP
/Channel Master 2.csv
/Channel Master 3.csv
/Channel Master.xlsx
/CopyBdeMasterData.ps1
/CopyFromGoogle.xlsx
/CopyFromGoogleV1.csv
/CopyFromGoogleV2.csv
/credit.png
/credit2.png
/DFS_2_3_20240130122322_P1.csv
/DFS_2_3_20240130122322_P21.csv
/DFS_2_3_Unidentified.csv
/ENT16 SIA ETL Phase 2 (PRD)
/ENT16 SIA ETL Phase 2 (PRD).zip
/flight.png
/Git-2.46.0-64-bit.exe
/Global Event Calendar (20240611).csv
/Global Event Calendar (20240611).xls
/HDS3.104.024
/Invalid_Account_Status.xlsx
/ITC_Expense Claim Form_Nov.xls
/job-1714985977196.zip
/JPush_PRD-1698805502628.zip
/McLytics_mapping_source.xlsx
/Meta_PRD-1698805168405.zip
/MHK - Login.xlsx
/Microsoft.DataTools.IntegrationServices.exe
/MOVA0179.avi
/MOVA0180.avi
/mt_F_Item_New_1.log
/mt_F_Item_New_2 (1).log
/mt_F_Item_New_2.log
/mt_F_Ticket_1.log
/openport2_setup_1024820.exe
/OP_Calendar_Master_toCSV_Guide.docx
/OP_Customized report requirement 20240301.pptx
/particulars of first registered vehicle_Feb 2024.xlsx
/PCM Flash
/prc-Meta-JobNoti-1700629087651.zip
/preview_0102W0170000000000D7_DataPreviewTarget_0002_01.csv
/Promotion Master 1.csv
/Promotion Master.csv
/Promotion Master.xlsx
/Promotion Master2.csv
/PromotionMaster.csv
/RESTV2_2-2_Output.csv
/RESTV2_2-3_Output.csv
/RESTV2_2-3_testOutput.csv
/RESTV2_2-3_test_Output.csv
/RESTV2_Output.csv
/RETReservationDetails_tc.pdf
/saleheaders_20231230.csv
/SAP Report_modified_filename
/SDD_164.00.001_FULL.exe
/shared
/SSIS_sample
/Study
/Study.zip
/TableauDesktop-64bit-2024-1-0.exe
/test4.csv
/testing.csv
/test_encryption.dtsx
/tf_Master_Data-1714983921612.zip
/Transfer files issues informatica.docx
/UF_AccountMaster_AccountStatev1.csv
/UF_AccountMaster_AccountStatev1_2.csv
/UF_AccountMaster_AccountStatusV2 (1).csv
/UF_AccountMaster_AccountStatusV2.csv
/UF_AccountMaster_AccountStatusV3.csv
/UF_AccountMaster_AccountStatusV4.csv
/UF_AccountMaster_wAccountStatusV1.csv
/VMware-workstation-full-15.5.7-17171714.exe
/vs_Community2019.exe
/WinDev2404Eval.VirtualBox.zip
/WindowsIso
/初中 第15期 筆記 （2025版）2.pdf
/初中 第16期 筆記 （2025版）.pdf
/螢幕擷取畫面 2024-08-12 160807.png
/高小（小五六） 第6期 筆記 21-24 （2025版）.pdf